@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Space+Grotesk:wght@300..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --primary-color: #b30d0d;
    --secondary-color: #000;
    --font-family: 'Space Grotesk';
    --text-color: #fff;
    --transition: all 0.5s;
}

body{
color: var(--text-color);
font-family: var(--font-family);
/* background: #000; */



}

html
{
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 0.05rem;
}

::-webkit-scrollbar-thumb
{
    background-color: transparent;
}

