.container{
    padding: 25px 8%;
    
}

.discover
{
    font-family: var(--font-family);
    color: var(--secondary-color);
    margin-top: 100px;
    letter-spacing: 1px;
    font-size: 3rem;
    border-left: 7px solid var(--primary-color);
    padding-left: 10px;
    width: 200px;
    display: inline-block;
    animation: fade-in .5s forwards;
    animation-timeline: view();
    animation-range-end: contain;
    animation-range-start: cover;
    
}

.iconArrow{
    color: var(--secondary-color);
    justify-content: center;
    margin-left: 50px;
    padding-bottom: 5px;
    animation: fade-in 0.5s forwards;
    animation-timeline: view();
    animation-range-end: contain;
    animation-range-start: cover;
}
.events{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 200px, 350px));  
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    align-content: center;
    /* border: 3px solid blue; */
    column-gap: 35px;
    row-gap: 45px;
    padding: 1rem;
  /*  animation: slideBounce .5s linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: contain; */
   
}

.discoverEvents{
    align-content: center;
    transition: ease-out 0.5s;
    box-shadow: 0 4px 8px #f9f9f9;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;


     /* border: 4px solid green; */
}

.discoverButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.iconArrow1{
    margin-right: 10px;
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 10px;
    float: right;
    top: 10px;
    display: flex;
}
.photo{
    width: 100%;
    height:35vh;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 5px solid grey;
    transition: ease all 0.5s;
}

.photo:hover{
    transform: scale(1.05);
}

.event-name{
    margin-top: 10px;
    text-align: center;
    margin-left: 30px;
}

.discoverButton{
   display: flex;
   justify-content: center;
   margin-top: 100px;
   margin-bottom: 50px;
   font: 900 1.2rem 'Space Grotesk';
   letter-spacing: 1px;
   border-radius: 30px;
   border: 3px solid var(--primary-color);
   color: black;
   padding: 1.1rem 0.5rem;
   cursor: pointer;
   transition: all 0.5s;
   width: 215px;
   height: 65px;
   transition: transform 0.5s;
   text-align: center;
}

 /* .discoverEvents:hover{
    transform: translateY(-15px);
} */

.discoverButton-text{
    transition: transform 0.5s;

}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6{
    opacity: 15%;
}

.box-1:hover, .box-2:hover, .box-3:hover, .box-4:hover, .box-5:hover, .box-6:hover{
    opacity: 100%;
    transform: scale(1.1)
}   



.discoverButton-text:hover{
    transform: scale(1.07);
}


.testing , .date, .month{
    color: black;
    font-weight: 400;
    margin-left: 10px;
    letter-spacing: 1px;
}

.month
{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.testing{
  text-align: center;
 /* margin-top: -20px; */
  margin-right: 50px;
  font-size: 1.5rem;

}

.eventCreation{
    background: linear-gradient(30deg, #b30d0d,rgba(0,0,0,0.7));
    width: 100%;
    box-shadow: 0 4px 8px #000;
  
}

.eventCreation-container{
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 3rem 0;
    animation: fade-in 0.5s forwards;
    animation-timeline: view();
    animation-range-end: contain;
    animation-range-start: cover;   
}

.eventCreation p{
    align-items: center;
    text-align: center;
   /* border: 3px solid green; */
    width: 350px;
}

.eventButton{
    color: var(--primary-color);
    background: transparent;
    border: 4px solid #f9f9f9;
    margin-top: 10px;
    width: 225px;
    height: 50px;
    font-weight: 500;
    font-family: 'Space Grotesk';
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;
    padding: auto;
}

.eventButton-text{
    transition: all 0.5s ease-in-out;
    color: #f9f9f9;
}
.eventButton-text:hover{
    color: #b30d0d;
}


.eventButton:hover{
    transform: scale(1.05);
    background-color: #f9f9f9;
}

@keyframes fade-in
{
    from{
        scale:  .8; 
        opacity: 0;
    }

    to{
        scale: 1; 
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(135px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

@keyframes slideBounce {
    0% {
        opacity: 0;
        transform: translateY(135px); /* Start from below */
    }
    70% {
        opacity: 1;
        transform: translateY(-25px); /* Slight overshoot for bounce effect */
    }
    100% {
        transform: translateY(0); /* Settle back to original position */
    }
}