@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Space+Grotesk:wght@300..700&display=swap');



nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
    margin-top: 20px;
}


nav ul{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-right: 40px;
}

nav ul li{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

.login{
    background-color: var(--secondary-color);
    color: #fff;
    width: 75px;
    padding: 0.6rem 0.5rem;
    border-radius: 30px;
    font-family: var(--font-family);
    margin-top: -10px;
    cursor: pointer;
}

nav img{
    width: 50px;
    margin-left: 50px;
}

.info
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
