#Hero{
    background-color: rgb(240, 238, 235);
    background-image: radial-gradient(rgba(0, 0, 0, 0.02) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 4px 4px;
    width: 100%;
    height: 100vh;  
    position: relative;   
}

.heroContainer{
    justify-content: center;
    align-items: center;
}

.intro
{
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 20%;
    transform: translate(50px 50px);
    color: black;
    position: absolute;
    letter-spacing: 1px;
}
.intro h5{
    font: bold 16px 'Space Grotesk';
}
.intro h2{
    font: bold 100px 'Poppins';
}