.footer {
    background-color: #c10000; /* Background color for the footer */
    color: white;
    padding: 40px 0;
    text-align: left;
    margin-top: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 0 10px;
}

.footer h4 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
}

.footer p {
    line-height: 1.6;
    display: block;
}

.footer-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    list-style: none;
    transition: var(transition);

}

.footer-links a:hover {
    transform: scale(1.05);
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social-icon {
    color: #fff;
    padding: 8px;
}

.subscribeSection{
   display: flex;
   flex-direction: row ;
   column-gap: 10px;
   padding: 2rem 2rem;
   justify-content: center;
   align-items: center;
 /*  border: 3px solid blue; */
   border-radius: 40px;
   width: 400px;
   height: 40px;
  margin-left: -80px;
  margin-top: 20px;
  background-color: #fff;


}

#subscribeInput{
padding: auto;
margin: 40px 0;
height: 40px;
width: 350px;
border-radius: 17.5px;
text-align: center;
padding: 1rem 1rem;
border: none;
background: transparent;
z-index: 3;
outline: none;
font: bold 15px var(--font-family);
}

.subscribeButton{
    width: 270px;
    height: 50px;
    border-radius: 25px;
    padding: 0 2rem;
    background: var(--secondary-color);
    color: var(--text-color);
    font: bold 1rem var(--font-family);
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 1px;

}

.subscribeButton:hover{
    transform: scale(1.02);
}
