.container{
    padding: 25px 8%;
}



.discover
{
    font-family: var(--font-family);
    color: var(--secondary-color);
    margin-top: 100px;
    letter-spacing: 1px;
    font-size: 3rem;
    border-left: 7px solid var(--primary-color);
    padding-left: 10px;
    width: 200px;
    display: inline-block;
    animation: fade-in .5s forwards;
    animation-timeline: view();
    animation-range-end: contain;
    animation-range-start: cover;
    
}

.iconArrow{
    color: var(--secondary-color);
    justify-content: center;
    margin-left: 50px;
    padding-bottom: 5px;
    animation: fade-in 0.5s forwards;
    animation-timeline: view();
    animation-range-end: contain;
    animation-range-start: cover;
}
.events{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 250px, 1fr));  
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    align-content: center;
    /* border: 3px solid blue; */
    column-gap: 20px;
    padding: 1rem;
    animation: slideBounce .5s linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: contain;
   
}

.discoverEvents{
    align-content: center;
    transition: ease-in 0.5s;
    box-shadow: 0 4px 8px #fff;
    cursor: pointer;
     /* border: 4px solid green; */
}

.photo{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 5px solid grey;
    

}

.discoverEvents:hover{
    transform: translateY(-30px);
}


.testing , .date, .month{
    color: black;
    font-weight: 400;
    margin-left: 10px;
    letter-spacing: 1px;
}

.month
{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.testing{
  float: right;
  margin-top: -20px;
  margin-right: 50px;
  font-size: 1.5rem;

}

.eventCreation{
    color: var(--secondary-color);
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    text-align: center;
  /*  border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    animation: fade-in 0.5s forwards;
    animation-timeline: view();
    animation-range-end: contain;
    animation-range-start: cover;
}

.eventCreation p{
    align-items: center;
    text-align: center;
   /* border: 3px solid green; */
    width: 350px;
}

.eventButton{
    color: #fff;
    background: var(--primary-color);
    margin-top: 10px;
    width: 225px;
    height: 50px;
    font-weight: 500;
    font-family: 'Space Grotesk';
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;
    padding: auto;
}

.eventButton:hover{
    transform: scale(1.05);
}

@keyframes fade-in
{
    from{
        scale:  .8; 
        opacity: 0;
    }

    to{
        scale: 1; 
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(135px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

@keyframes slideBounce {
    0% {
        opacity: 0;
        transform: translateY(135px); /* Start from below */
    }
    70% {
        opacity: 1;
        transform: translateY(-25px); /* Slight overshoot for bounce effect */
    }
    100% {
        transform: translateY(0); /* Settle back to original position */
    }
}