.Event-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-image: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.6)),url('../../assets/background image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
}

.Event-form{
    border-radius: 20px;
    /* background: linear-gradient(30deg, #b30d0d,rgba(0,0,0,0.7)); */
    background-color: #fff;
    box-shadow: 0 4px 8px #000;
    max-width: 600px;
    padding: 15px 8%;
}

form label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #000;
  }

  form input,
  form textarea {
    width: 450px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: outline 0.5s ;
    z-index: 2;
  }

  form input:hover{
    outline: #b30d0d;
  }
  
  form textarea {
    resize: vertical;
  }

    .first-content {
        align-items: center;
        justify-content: center;
        text-align: center;
        /* border: 3px solid blue; */
        margin-bottom: 35px;
        padding-bottom: 10px; 
        color: #000;      
  }

  .date-time-container{
    /* border: 1px solid #000; */
    border-radius: 10px;
    padding: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    column-gap: 40px;
    align-items: center;
    transform: translateX(-30px);
  
    
  }

  .date-time-label{
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    

  }

  .input-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid #ddd;  
    margin-bottom: 10px;
    justify-content: center;
    z-index: 2;
    padding: auto;
    height: 50px;
    border-radius: 15px;
    margin-top: 20px;
  }

  .input-container input{
    max-width: 150px;
    font-size: 1rem;
    margin-top: 10px;
    outline: none;
    border: none;
    background: transparent;
    letter-spacing: 1px;
    padding: auto;
  }

  .icon-group{
    color: #b30d0d;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    z-index: 2;
    
  }
