.sign-up-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 3rem;
    box-sizing: border-box;
    background-color: #f9f9f9;
    
}

.left-section form {
    max-width: 650px;
    margin: auto;
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: slideIn 1.5s ease-in-out;
    animation-delay: 0.4s;
    
    
}


@keyframes slideIn {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.left-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;

}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease-in;
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
    border-color: transparent;
}


.input-group label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    padding: 0 5px;
    color: #666;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease all;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 0.8rem;
    color: #b30d0d;
}

.left-section .error {
    color: #b30d0d;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.left-section button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    background-color: #b30d0d;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.left-section button:hover {
    background-color: #990b0b;
}

.right-section {
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.5), #b30d0d), url('../../assets/pexels-sebastian-ervi-866902-1763075.jpg');
    width: 50%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.terms-and-conditions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1rem 0;
}

.terms-and-conditions input[type="radio"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #b30d0d;
}

.terms-and-conditions label {
    color: #666;
    font-size: 0.9rem;
    cursor: pointer;
}

.terms-and-conditions label:hover {
    color: #b30d0d;
}

