.features
{
    font-family: var(--font-family);
    color: var(--secondary-color);
    margin-top: 100px;
    letter-spacing: 1px;
    font-size: 3rem;
    border-left: 7px solid var(--primary-color);
    padding-left: 10px;
    
}

.featureTitle{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 250px, 1fr));  
    justify-content: center;
    align-items: center;
   /* border: 3px solid red; */
    column-gap: 30px;
    margin-top: 50px;
    padding: auto;
    margin-bottom: 50px;
}

.featureIcons{
    margin-bottom: 10px;
    color: var(--primary-color);
}

.featureColumn{
  
    color: var(--secondary-color);
    text-align: left;
    border-radius: 1.5rem;
    padding: 1rem 1rem 1rem 2rem; 
    transition: all 0.5s;
    cursor: pointer;
    transition: var(--transition);
    
}

.featureColumn:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

.featureName{
    margin-bottom: 15px;
    width: 150px;
}

.featureDescription{
    width: 250px;
    letter-spacing: 1px;
    color: #7a7a7a;
    font-weight: 400;
}

